body{
  margin: 0;
  padding: 0;
}

.box{
  width: 100%;
  height: 100vh;
}

.box #background{
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.box #player{
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;

  /*nome da animação*/
  animation-name: fly;
  /*duração da animação*/
  animation-duration: 2s;
  /* define como uma animação progride ao longo da duração de cada ciclo */
  animation-timing-function: ease-in;
  /* tempo de espera para que a animação se inicie */
  animation-delay: 0.3s;
  /* quantidade de vezes que a animação é executada */
  animation-iteration-count: infinite;
  /* direção do ponto de origem da animação ao ponto final da mesma */
  /* FIXME: normal: padrão;
            reverse: de trás pra frente;
            alternate: executa o movimento e revete ao ponto de origem */
  animation-direction:alternate;
  /* indica onde a animação deve finalizar */
  /* animation-fill-mode: forwards; */

  /* usar as propriedades da animação de forma simplificada */
  animation: fly 1.5s linear infinite alternate;

}

#player:hover{
    /* aplica o estado da animação, se for running fica em movimento, se for paused ele para a animação */
    animation-play-state: paused;
}


@keyframes fly{
  100%{
    transform: translateX(calc(100vw - 200px));
  }
}
