body{
  display: grid;
  font-family: sans-serif;
  font-size: 300%;
  height: 100vh;
  place-items: center;
}


.text-reveal{
  overflow: hidden;
  position: relative;
}

.text-reveal::after{
  animation: text-reveal 2s cubic-bezier(0.85, 0, 0.15, 1) forwards;
  content: '';
  background-color: #157bad;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}

h1{
  opacity: 0;
  animation: fade 1s 1s forwards;
}

@keyframes text-reveal {

  from{
    transform: translateX(-101%);
  }

  to{
    transform: translateX(101%);
  }
}

@keyframes fade {
  to{
    opacity: 1;
  }
}